.product__content-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

.loading{
    position: absolute;
    font-size: 4.3em;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}

@media (min-width:750px){
    .product{
        display: flex;
        padding: 20px 0;
    }

    .product__content-sort{
        width: 800px;
    }
}