.header{
     box-shadow: 0 0 12px #000000a1;
     background-color: hsl(0, 6%, 24%);
}

.section{
     min-height: calc(100vh - 90px);
     /* display: flex;
     justify-content: center;
     align-items: center; */
}

.title{
  font-size: 4.3em;
  line-height: 1.1; 
  text-align: center;
}

.subtitle{
     font-size: 4.3em;
    line-height: 1.1; 
    text-align: center;
    margin: 50px 0 30px;
}
